
src/DevIO.Api/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
src/DevIO.Api/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.resources.dll
src/DevIO.Api/bin/Debug/net5.0/DevIO.Api.deps.json
src/DevIO.Api/bin/Debug/net5.0/DevIO.Api.dll
src/DevIO.Api/bin/Debug/net5.0/DevIO.Api.pdb
src/DevIO.Api/obj/project.nuget.cache
src/DevIO.Api/obj/project.assets.json
src/DevIO.Api/obj/DevIO.Api.csproj.nuget.g.props
src/DevIO.Api/obj/DevIO.Api.csproj.nuget.dgspec.json
src/DevIO.Api/obj/Debug/net5.0/ref/DevIO.Api.dll
src/DevIO.Api/obj/Debug/net5.0/DevIO.Api.pdb
src/DevIO.Api/obj/Debug/net5.0/DevIO.Api.MvcApplicationPartsAssemblyInfo.cs
src/DevIO.Api/obj/Debug/net5.0/DevIO.Api.dll
src/DevIO.Api/obj/Debug/net5.0/DevIO.Api.csproj.FileListAbsolute.txt
src/DevIO.Api/obj/Debug/net5.0/DevIO.Api.csproj.CoreCompileInputs.cache
src/DevIO.Api/obj/Debug/net5.0/DevIO.Api.csproj.CopyComplete
src/DevIO.Api/obj/Debug/net5.0/DevIO.Api.csproj.AssemblyReference.cache
src/DevIO.Api/obj/Debug/net5.0/DevIO.Api.assets.cache
src/DevIO.Api/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.VisualBasic.resources.dll
src/DevIO.Api/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
src/DevIO.Api/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
src/DevIO.Api/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.VisualBasic.resources.dll
src/DevIO.Api/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
src/DevIO.Api/obj/Debug/net5.0/DevIO.Api.csproj.CoreCompileInputs.cache
src/DevIO.Api/obj/Debug/net5.0/ref/DevIO.Api.dll
src/DevIO.Api/obj/Debug/net5.0/DevIO.Api.pdb
src/DevIO.Api/obj/Debug/net5.0/DevIO.Api.dll
src/DevIO.Api/obj/Debug/net5.0/DevIO.Api.csproj.FileListAbsolute.txt
src/DevIO.Api/obj/Debug/net5.0/DevIO.Api.csproj.CoreCompileInputs.cache
src/DevIO.Api/bin/Debug/net5.0/ref/DevIO.Api.dll
src/DevIO.Api/bin/Debug/net5.0/DevIO.Api.pdb
src/DevIO.Api/bin/Debug/net5.0/DevIO.Api.dll
src/DevIO.Api/obj/Debug/net5.0/DevIO.Api.dll
src/DevIO.Api/obj/Debug/net5.0/DevIO.Api.pdb
src/DevIO.Api/obj/Debug/net5.0/ref/DevIO.Api.dll
src/DevIO.Api/bin/Debug/net5.0/ref/DevIO.Api.dll
src/DevIO.Api/bin/Debug/net5.0/DevIO.Api.pdb
src/DevIO.Api/bin/Debug/net5.0/DevIO.Api.dll
